*{
    margin: 0%;
    padding: 0%;

}

#myContainer {
width: 100%;
height:100vh;
position: relative;

}
#plane {
width: 300px;
height: 350px;
position: absolute;
top: 15%;
background-image: url(https://images.app.goo.gl/pKydGVkJi7C2BPWJ9);
z-index: 0;
}
.cloud{
background-image: url(./images/cloud.png);
background-position: center;
background-size: cover;
height: 180px;
width: 180px;

}
.rotate{
transform: rotateY(180deg);
}

.cloud:nth-child(1)
{
position: absolute;
top: 10%;
left: 6%;
}

.cloud:nth-child(2)
{
position: absolute;
top: 40%;
left: 32%;
}

.cloud:nth-child(3)
{
position: absolute;
top: 10%;
left: 42%;
}

.cloud:nth-child(4)
{
position: absolute;
top: 35%;
left: 72%;
}

.cloud:nth-child(5)
{
position: absolute;
top: 5%;
left: 72%;
}

.cloud:nth-child(6)
{
position: absolute;
top: 50%;
left: 6%;
}

.cloud:nth-child(7)
{
position: absolute;
top: 70%;
left: 36%;
}

.cloud:nth-child(8)
{
position: absolute;
top: 70%;
left: 76%;
}

.color{
position: relative;
top: 50%;
}
#missile{
height: 100px; width: 100px; position: absolute;right: -10%;
}
#missile2{
    height: 100px; width: 100px; position: absolute;top: 65%;right: -10%;
    }


    @media (max-width:800px)
    {
        .cloud{
            height: 80px;
            width: 80px;

        }
        #plane{
            height: 150px;
            width: 150px;
        }
        #missile,#missile2{
            height: 80px;
            width: 100px;

        }
        #missile2{
            top: 40%;
        }
    }
    @media (max-width:414px)
    {
        .cloud{
            height: 60px;
            width: 60px;

        }
        #plane{
            top: 20%;
            height: 100px;
            width: 100px;
        }
        #missile,#missile2{
            height: 40px;
            width: 80px;

        }
        #missile2{
            top: 60%;
        }

    }